# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv*/

# IDE config
.vscode

# development database
github_database_tree.json

# build artifacts
build/

# requests cache
api_cache.sqlite

# personal notes
*.todo
notes.md