<!DOCTYPE html>
<html>

<head>
    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tracking_id }}"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);};
        gtag('js', new Date());

        gtag('config', '{{ google_analytics_tracking_id }}');
    </script>
    <script async src="https://cse.google.com/cse.js?cx=ff45d1729ad35e76f"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ff902b" />
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet'>

    {# Begin SEO tags #}
    
    {# Variables: #}
    {# - page_title:str (default:site_title) "The title of the page" #}
    {# - page_description:str (default:site_description) "The description of the page" #}
    {# - page_image:str (default:site_image) "The image of the page" #}
    {# - page_url:str (default:site_url) "The url of the page" #}
    {# - page_type:str (default:website) "The type of the page" #}
    {# - page_keywords:list (default:site_keywords) "The keywords for the page" #}
    {# - site_locale_default:str "The default site locale" #}
    {# - site_locale_alternate:list "The alternate locales supported" #}

    {% with
        page_title=page_title|default(site_title),
        page_description=page_description|default(site_description),
        page_url=page_url|default(site_url),
        page_image=page_image|default(site_image),
        page_type=page_type|default('website'),
        page_keywords=page_keywords|default(site_keywords)
    %}
        <title>{% if env == "dev" %}[{{env}}] {% endif %}{{ page_title }}</title>
        <meta property="og:title" content="{{ page_title }}" />
        <meta property="twitter:title" content="{{ page_title }}" />
        <meta property="og:site_name" content="{{ site_title }}" />

        <meta name="description" content="{{ page_description }}">
        <meta property="og:description" content="{{ page_description }}" />
        <meta property="twitter:description" content="{{ page_description }}" />

        <meta property="og:url" content="{{ page_url }}" />

        <meta property="og:image" content="{{ site_url }}{{ url_for('static', filename=page_image) }}" />
        <meta property="twitter:image" content="{{ site_url }}{{ url_for('static', filename=page_image) }}" />

        <meta property="og:type" content="{{ page_type }}" />

        <meta property="og:locale" content="{{ site_locale_default }}" />
        {% for locale in site_locale_alternate %}
            <meta property="og:locale:alternate" content="{{ locale }}" />
        {% endfor %}

        <meta name="keywords" content="{{ page_keywords|join(', ') }}">

    {% endwith %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@{{ social_media_handle }}" />
    <meta name="twitter:site" content="@{{ social_media_handle }}" />
    {# End SEO tags #}

    <link rel="icon" href="{{ site_url }}{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="shortcut icon" type="image/png" href="{{ site_url }}{{ url_for('static', filename='images/logo.png') }}" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.3/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="{{ site_url }}{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ site_url }}{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ site_url }}{{ url_for('static', filename='css/animations.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {% block css_extension %}{% endblock %}
</head>

<body>
    {% include "components/navbar.html" %}

    {% block hero_section %}{% endblock %}

    {# Begin helper tags for indexing #}
    <div class="content content-tags">
        <p>Read {{ page_title }} online in Hindi and English for free</p>
        <p>{{ page_title }} हिंदी और अंग्रेजी में मुफ्त में ऑनलाइन पढ़ें</p>
    </div>
    {# End helper tags for indexing #}

    {% block content %}{% endblock %}

    {% include "components/footer.html" %}

    <template id="language-selector-swal-template">
        <swal-title>
            Select language
        </swal-title>
        <swal-input type="select" value="{{ content_languages[0][0] }}" />
            {% for language in content_languages %}
                <swal-input-option value="{{ language[0] }}">{{ language[1] }}</swal-input-option>
            {% endfor %}
        </swal-input>

        <swal-button type="confirm">
            Confirm
        </swal-button>
        <swal-button type="cancel">
            Cancel
        </swal-button>
        <swal-param name="allowOutsideClick" value="false" />
        <swal-param name="scrollbarPadding" value="false" />
        <swal-param name="customClass" value='{ "confirmButton": "button is-warning is-outlined", "cancelButton": "button is-grey is-outlined" }' />
    </template>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.3/dist/sweetalert2.min.js"></script>
    <script src="{{ site_url }}{{ url_for('static', filename='js/language-selector.js') }}"></script>

    <script src="{{ site_url }}{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ site_url }}{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ site_url }}{{ url_for('static', filename='js/css3-animate-it.js') }}"></script>

    {% block js_extension %}{% endblock %}
</body>

</html>