{% extends 'pages/base.html' %}

{% block content %}

{# Margin top behind navbar#}
<div class="mt-6"></div>

<style>
    :root {
        --page-background-image: url({{ url_for('static', filename=site_image) }});
    }
</style>

<div class="image-background"></div>

{% include 'components/breadcrumb.html' %}

<section class="section pt-0 pb-0">
    {% if metadata.type == 'tree' %}
        {% with cards=tree %}
            {% include 'components/tree_card_columns.html' %}
        {% endwith %}
    {% elif metadata.type == 'leaf' %}
        {% with content=content %}
            {% include 'components/content.html' %}
        {% endwith %}
    {% endif %}
</section>

{% if pagination %}
    {% include 'components/pagination.html' %}
{% endif %}

{% include 'components/breadcrumb.html' %}

{% endblock %}
