{% extends 'pages/base.html' %}

{% block hero_section %}

<section class="hero is-light is-fullheight">
    <div class="hero-body is-flex is-justify-content-center animatedParent animateOnce">

        <img loading="lazy" class="mandala-lg rotating-ccw-slow">
        <img loading="lazy" class="mandala-md-bg rotating-cw-slow">
        <img loading="eager" class="mandala-md rotating-cw-slow">

        <h1 id="site-title" class="title is-1 has-text-centered m-0" title-en="{{ site_title }}" title-hi="{{ site_tagline_short }}">
        </h1>

        <div class="hero-bottom">
            <a onclick="scrollToCards()">
                <i class="scroll-down-btn fas fa-angle-down animated bounceInUp delay-1000"></i>
            </a>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="cards-section" class="section animatedParent animateOnce">
    <div class="content animated fadeInUpShort">
        <p class="subtitle is-4 has-text-warning-dark has-text-centered mt-5 mb-5">
            {{ site_tagline }}
        </p>
    </div>

    <div class="mb-6 animated fadeInUpShort">
        <div class="gcse-search"></div>
    </div>

    {% for section in sections %}
        <div class="animated fadeInUpShort">
            <div class="{% if not loop.last %}mb-6 {% endif %}">
                <p class="title is-4 has-text-warning-dark mt-5 mb-4">
                    <a href="{{ section.url }}">{{ section.name }}</a>
                </p>
                {% with cards=section.cards %} 
                    {% include 'components/home_page_card_columns.html' %}
                {% endwith %}
            </div>
        </div>
    {% endfor %}
</section>

<section class="section pt-0 animatedParent animateOnce">
    <article class="message is-warning is-small animated fadeInUpShort">
        <div class="message-body has-text-justified">
            {{ copyright_message }}
        </div>
    </article>
</section>
{% endblock %}


{% block js_extension %}
<script type="text/javascript">
    $(document).ready(() => {
        $('html').css('overflow-y', 'auto');
        const supported_languages = {{ content_languages_codes|safe }};
        if (window.location.pathname === '/') {
            $('html').css('overflow-y', 'hidden');
            window.languageSelector();
        };
    });
</script>
{% endblock %}
