{% extends 'pages/base.html' %}

{% block content %}

{# Margin top behind navbar#}
<div class="mt-6"></div>

<style>
    :root {
        --page-background-image: url({{ url_for('static', filename=site_image) }});
    }
</style>

<div class="image-background"></div>

{% include 'components/breadcrumb.html' %}

<section class="section pt-0 pb-0">
    <div class="columns is-multiline is-centered is-variable is-4">
        {% for data in index_data %}
            {% with
                title_primary=data.title,
                title_secondary=data.subtitle,
                summary=data.summary,
                button_url=data.id
            %}
                {% include 'components/card_without_image.html' %}
            {% endwith %}
        {% endfor %}
    </div>
</section>

{% include 'components/breadcrumb.html' %}

{% include 'components/copyright_notice.html' %}

{% endblock %}
