<footer class="footer bg-gradient-light-orange pt-5 pb-5">
    <div class="container">
        <div class="content">
            <div class="columns is-multiline is-centered">
                <div class="column is-2-tablet has-text-centered">
                    <div>
                        <a href="{{ site_url }}" class="link has-text-orange">Home</a>
                    </div>
                </div>
                <div class="column is-2-tablet has-text-centered">
                    <div>
                        <a href="{{ site_url }}{{ url_for('about_blueprint.aboutView') }}" class="link has-text-orange">About</a>
                    </div>
                </div>
            </div>

            <hr>

            <div>
                <p class="has-text-centered is-italic is-size-7">This website may contain Copyrighted material used under fair use for personal research and non-profit educational purposes.</p>
            </div>
        </div>
    </div>
</footer>