<!-- <footer class="footer bg-gradient-light-orange pt-5 pb-5">
    <div class="container">
        <div class="content">
            <div class="columns is-multiline is-centered">
                <div class="column is-2-tablet has-text-centered">
                    <div>
                        <a href="{{ site_url }}" class="link has-text-orange">Home</a>
                    </div>
                </div>
                <div class="column is-2-tablet has-text-centered">
                    <div>
                        <a href="{{ site_url }}{{ url_for('about_blueprint.aboutView') }}" class="link has-text-orange">About</a>
                    </div>
                </div>
            </div>

            <hr>

            <div>
                <p class="has-text-centered is-italic is-size-7">This website may contain Copyrighted material used under fair use for personal research and non-profit educational purposes.</p>
            </div>
        </div>
    </div>
</footer> -->

<footer class="footer p-0">
    <section class="section">
        <div class="footer-container">
            <div class="animatedParent animateOnce">
                <div class="content-w-image is-flex is-centered-mobile">
                    <figure class="image is-64x64 m-0 animated fadeInUpShort">
                        <img src="{{ site_url }}{{ url_for('static', filename='images/logo.png') }}">
                    </figure>
                    <div class="content m-0 is-flex is-flex-direction-column is-justify-content-space-between animated fadeInUpShort">
                        <h4 class="mt-0">Ancient Knowledge</h4>
                        <p class="is-centered-mobile">
                            <a href="{{ site_url }}{{ url_for('about_blueprint.aboutView') }}" class="no-decoration">
                                <span>About</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="animatedParent animateOnce">
                <div class="content animated fadeInUpShort">
                    <h4 class="is-centered-mobile m-0 mb-4 animated fadeInUpShort delay-500">@PraacheenGyaan</h4>
                    <p class="has-text-centered is-flex is-justify-content-space-between animatedParent animateOnce">
                        <a class="box icon facebook is-large fa-2x mb-0 animated growIn delay-500" href="https://www.facebook.com/PraacheenGyaan/" target="_blank">
                            <i class="fab fa-facebook-square has-text-white"></i>
                        </a>

                        <a class="box icon instagram is-large fa-2x mb-0 animated growIn delay-1000" href="https://www.instagram.com/PraacheenGyaan/" target="_blank">
                            <i class="fab fa-instagram-square has-text-white"></i>
                        </a>

                        <a class="box icon twitter is-large fa-2x mb-0 animated growIn delay-1500" href="https://twitter.com/PraacheenGyaan/" target="_blank">
                            <i class="fab fa-twitter-square has-text-white"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>