<nav class="navbar is-warning bg-gradient-light-orange" x-data="{ openNav: false }">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site_url }}" class="navbar-item">
                <p class="has-text-weight-normal has-text-orange">
                    <span>📖</span>
                    <span class="pl-2">{{ site_title }}</span>
                </p>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu"
                :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-end">
                <a href="{{ site_url }}{{ url_for('about_blueprint.aboutView') }}" class="navbar-item has-text-weight-normal has-text-orange">About</a>
            </div>
        </div>
    </div>
</nav>