<section class="section pt-0 animatedParent animateOnce">
    <article class="box message is-warning is-small p-0 animated fadeInUpShort">
        <div class="message-header is-justify-content-center">
            <p>Copyright Notice</p>
        </div>
        <div class="message-body has-text-centered">
            {% for text in copyright_message %}
                <p
                    {% if loop.index0 + 1 != copyright_message|length %}
                        class="mb-3"
                    {% endif %}
                >
                    {{ text|markdownToHTML|safe }}
                </p>
            {% endfor %}
        </div>
    </article>
</section>