<nav class="navbar is-light glass" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a
            class="navbar-item pl-4"
            href="{{ site_url }}{% if current_language %}/{{current_language}}/{% endif %}">
            <img src="{{ site_url }}{{ url_for('static', filename='images/logo.png') }}" width="28" height="28">
            <span class="pl-4">
                {{ site_title }}
            </span>
        </a>

        <a 
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ site_url }}{{ url_for('website_blueprint.aboutView') }}">
                About
            </a>
        </div>
        
        <div class="navbar-end">
            <a id="language-selector-navbar-item" class="navbar-item" href="#" onclick="window.languageSelector();">
                <i class="fas fa-language"></i>
            </a>
        </div>
    </div>
</nav>