<section class="section animatedParent animateOnce pt-5 pb-0">
    <div class="box animated fadeInUpShort">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {# Begin previous page button #}
            {% with
                url=pagination.previous.path,
                text='Previous (' + pagination.previous.title + ')' if pagination.previous else 'Previous' | default('Previous'),
                is_disabled=not pagination.previous,
                additional_classes="pagination-previous pagination-button"
            %}
            {% include 'components/button.html' %}
            {% endwith %}
            {# End previous page button #}

            {# Begin next page button #}
            {% with
                url=pagination.next.path,
                text='Next (' + pagination.next.title + ')' if pagination.next else 'Next' | default('Next'),
                is_disabled=not pagination.next,
                additional_classes="pagination-next pagination-button"
            %}
            {% include 'components/button.html' %}
            {% endwith %}
            {# End next page button #}
        </nav>
    </div>
</section>
