<section class="section animatedParent animateOnce pb-0">
    <div class="box glass animated fadeInUpShort">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {# Begin previous page button #}
            {% with
                url=pagination.previous_page.url,
                text=pagination.previous_button_text|default('Previous'),
                is_disabled=pagination.is_first_page,
                additional_classes="pagination-previous pagination-button"
            %}
            {% include 'components/button.html' %}
            {% endwith %}
            {# End previous page button #}

            <ul class="pagination-list">
                {# begin previous page button group #}
                {% if pagination.render_previous_page_buttons %}
                    <li>
                        {% with
                            url=pagination.first_page.url,
                            text=pagination.first_page.id,
                            is_disabled=pagination.is_first_page,
                            additional_classes="pagination-link"
                        %}
                        {% include 'components/button.html' %}
                        {% endwith %}
                    </li>

                    {% if pagination.render_previous_page_id_button %}
                        {% if pagination.render_previous_page_ellipsis %}
                            <li>
                                <span class="pagination-ellipsis">…</span>
                            </li>
                        {% endif %}

                        <li>
                            {% with
                                url=pagination.previous_page.url,
                                text=pagination.previous_page.id,
                                additional_classes="pagination-link"
                            %}
                            {% include 'components/button.html' %}
                            {% endwith %}
                        </li>
                    {% endif %}
                {% endif %}
                {# end previous page button group #}

                {# begin current page button #}
                <li>
                    {% with
                        text=pagination.current_page.id,
                        is_disabled=true,
                        additional_classes="pagination-link"
                    %}
                    {% include 'components/button.html' %}
                    {% endwith %}
                </li>
                {# end current page button #}

                {# begin next page button group #}
                {% if pagination.render_next_page_buttons %}
                    {% if pagination.render_next_page_id_button %}
                        <li>
                            {% with
                                url=pagination.next_page.url,
                                text=pagination.next_page.id,
                                additional_classes="pagination-link"
                            %}
                            {% include 'components/button.html' %}
                            {% endwith %}
                        </li>
                        {% if pagination.render_next_page_ellipsis %}
                            <li>
                                <span class="pagination-ellipsis">…</span>
                            </li>
                        {% endif %}
                    {% endif %}

                    <li>
                        {% with
                            url=pagination.last_page.url,
                            text=pagination.last_page.id,
                            is_disabled=pagination.is_last_page,
                            additional_classes="pagination-link"
                        %}
                        {% include 'components/button.html' %}
                        {% endwith %}
                    </li>
                {% endif %}
                {# end next page button group #}
            </ul>

            {# Begin next page button #}
            {% with
                url=pagination.next_page.url,
                text=pagination.next_button_text|default('Next'),
                is_disabled=pagination.is_last_page,
                additional_classes="pagination-next pagination-button"
            %}
            {% include 'components/button.html' %}
            {% endwith %}
            {# End next page button #}
        </nav>
    </div>
</section>
